body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 34px;
}

.background-pattern {
  background-image: url('../images/pattern.svg');
}

.space {
  margin-top: 25px;
}

.transparentBg {
  background: transparent;
}
